#capsella_map{
  height:600px;
}

#map_label{
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 2px;
  left: 3px;
  padding: 3px;
}

#capsella_tools button{
  margin:5px;
}


.btn_selected{
  color: black !important;
  font-weight: bolder;

}

#capsella_info select{
width:8em;
}

.soil_layer{
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  position:  relative;
}

.soil_layer_inner{
  border: 0px solid #CCC;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.soil_layer_depth{
  position: absolute;
  bottom:0px;
}

.soil_layer_depth .glyphicon-resize-vertical{
  font-size: 30px;
}
.soil_layer  .layer_content{
  text-align:center;
}
.soil_layer .agshp{
  font-size:15px;
  font-weight: bold;
}
.soil_layer .agdim{
  font-size:10px;
}
.caps_layers{
    margin-bottom: 20px;
}
.cap_answ{
  font-weight: bold;
}
.soil_sq_1{
  /*background-color:#b2cefe;*/
  background-color:#04da04;
}
.soil_sq_2{
  /*background-color:#baed91;*/
  background-color:#8ffa00;
}
.soil_sq_3{
  /*background-color:#faf884;*/
  background-color:#eff042;
}
.soil_sq_4{
  /*background-color:#f8b88b;*/
  background-color:#ffa01f;
}
.soil_sq_5{
  /*background-color:#fea3aa;*/
  background-color:#fa5656;
}
/*.soil_sq_5{
  background-color:#f2a2e8;
}*/

#spade_test_insert{
 margin-bottom: 20px;
}

#spade_test_insert ul{
  list-style-type: none;
}

#spade_test_insert input[type=checkbox],  #spade_test_insert input[type='radio']{
  transform: scale(1.5);
  margin-right: 15px;
}

#spade_test_insert label{
  /*font-size:16px;*/
}

#spade_test_insert h3{
  text-align: center;
}

#spade_test_insert h4{
  text-align: center;
  border-top: 1px solid #CCC;
  margin-top: 30px;
  padding-top: 10px;
}

#spade_before{
  float:left;
}

#spade_next{
  float:right;
}

.spade_tile_answer{
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}
.navbar-brand{
  font-size: 14px;
}

.navbar-brand div {
  margin-left: 30px;
}

@media all and (min-width: 660px){
  .spade_tile_answer{
    height:200px;
  }
}
#my_spade_tests .btn, #public_spade_tests .btn{
  width: 70px;
  margin-right: 5px;
}
 .spade_input{
  position: absolute;
  left: -9999px;
}

.answer_box{
  border: 4px solid transparent;
  padding:5px;
  min-height:100px;
  border-radius: 6px;
  text-align:center;
  margin:5px;
  background-color: rgba(182, 216, 194, 0.42);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#spade_test_insert .alert-info, #capsella_info .alert-info{
background-color: #b6d8c2;
    color: #1c4b3a;
    border-color: #318f6d;
}

#spade_test_insert btn-info{


}

.answer_box_selected{
  border: 4px solid #449d44;
}

.spade_answer_title{
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/*
#spade_test_insert input[type='radio'],
#spade_test_insert input[type='checkbox'] {
 position: absolute;
 clip: rect(1px, 1px, 1px, 1px);
}

#spade_test_insert input[type='radio'] + label,
#spade_test_insert input[type='checkbox'] + label {
 margin: 0;
 padding: 2px 0 0px 24px;
 cursor: pointer;
 content: "\e006";
}

#spade_test_insert input[type='radio']:checked + label {
 background-image: url('radiobutton.png');
}

#spade_test_insert input[type='checkbox']:checked + label {
 background-image: url('checkbox.png');
}*/



.sh_box{
    text-align:center;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #eee;
    padding:10px;
    min-height: 150px;
}

/* hack */
body{
  font-family: "Open Sans", Arial, sans-serif;
}
.navbar-fixed-top{
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}

.navbar-brand, .navbar-nav>li>a{
  color: #0e7d35 !important;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: #FFF;
  text-decoration:underline;
}


.navbar-inverse .icon-bar{
  background-color: #0e7d35 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  /*line-height: 60px; /* Vertically center the text there */*/
  background-color: #EEE;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #5cb85c;
  color:#FFF;
}

#footer1, #footer_partner{
  font-size: 11px;
  padding: 0px 10px;
}

.footer_images{
    text-align:center;
    background-color: #e6e7e8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgs_footer{
  display:inline-block;
  /*height: 80px;
*/
}

h1.dbmng_page_title {
  display:none;
}

.new_spade_test_button{
  font-size: large;
  height: 80px;
  line-height: 60px;
}

#loading_icon{
  position: absolute;
  right: 10px;
  top: 15px;
}




/* QBSe styles */

/**/


.qbs-tile .tile_title h5{
	font-weight: bold;
	text-decoration: underline;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    font-size: 12px;
}


.qbs-tile{
 padding:2px!important;
}
#button_containers .qbs-tile-int {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#button_containers .qbs-tile-int{
    background-color: #CCC;
    padding: 10px;
}

#button_containers .tile_title{
    padding-bottom: 120px;
}
.qbs-tile-int{
 margin:0px;
 text-align: center;
}

.qbs-tile-int .valore{
  font-size:20px;
  font-weight: bold;
}

.qbs-tile-int .az_data{
  font-size:10px;
}
.qbs-tile h4{
background-color: rgba(255,255,255,0.8);
}

.qbs-tile .btn{
  display:none;
}


#qbs_classify{
  margin-top: 120px;
}
